*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	line-height: 1.15;
	color: #34404b;
	background:#f4f6f8; 
}

.container {
	width: 1170px;
	padding-left: 0 !important;
	padding-right: 0 !important;
}

a:hover{
	text-decoration: none !important
}

.align-items-center {
	-ms-flex-align: center !important;
	align-items: center !important;
}

@media (min-width: 992px) {
	.d-lg-flex {
		display: -ms-flexbox !important;
		display: flex !important;
	}

}

@media (max-width: 992px) {
	.icon-cart-mobile.hidden-md.hidden-lg.f-left.absolute {
		right:15px;
		top:45px;
		position: absolute;
		font-size: 25px
	}
}


.header-content .header-content-search {
	flex-grow: 1;
	margin: 0px 50px;
}


.icon-cart-mobile.hidden-md.hidden-lg.f-left.absolute .icon.relative .fa {
	font-size:24px
}
.icon-cart-mobile.hidden-md.hidden-lg.f-left.absolute .cartCount {
	right:-20px;
	background:#e22b00
}
.menu-bar.hidden-md.hidden-lg {
	top:60px;
	left: 0
}
.logo img{
	width: auto;
	height: 80px;
}
.topbar-mobile.hidden-lg.hidden-md {
	color: #fff;
	line-height: 40px;
	font-size: 15px;
}

.text-md-left {
	/*text-align: left !important;*/
}

.a-center {
	text-align: center !important;
}

header ul li{
	list-style: none;
}

/*phần custom hide menu*/
.header-content-medium.hidden-sm.hidden-xs .header-acount .drop-down li {
    margin: 0px 20px;
}


/* body's QUANG*/
/*slide+product*/

/*jssor slider bullet skin 032 css*/

.section_1 .style_1{
    position:relative;
    margin:0 auto;
    top:0px;
    left:0px;
    width:1300px;
    height:460px;
    overflow:hidden;
    visibility:hidden;
}

.section_1 .style_1 .style_2{
    cursor:default;
    position:relative;
    top:0px;
    left:0px;
    width:1300px;
    height:460px;
    overflow:hidden;
}
.jssorb032 {
	position:absolute;
}
.jssorb032 .i {
	position:absolute;
	cursor:pointer;
}
.jssorb032 .i .b {
	fill:#fff;
	fill-opacity:0.7;
	stroke:#000;
	stroke-width:1200;
	stroke-miterlimit:10;
	stroke-opacity:0.25;
}
.jssorb032 .i:hover .b {
	fill:#000;
	fill-opacity:.6;
	stroke:#fff;
	stroke-opacity:.35;
}
.jssorb032 .iav .b {
	fill:#000;
	fill-opacity:1;
	stroke:#fff;
	stroke-opacity:.35;
}
.jssorb032 .i.idn {
	opacity:.3;
}

/*jssor slider arrow skin 051 css*/
.jssora051 {
	display:block;
	position:absolute;
	cursor:pointer;
}
.jssora051 .a {
	fill:none;
	stroke:#fff;
	stroke-width:360;
	stroke-miterlimit:10;
}
.jssora051:hover {
	opacity:.8;
}
.jssora051.jssora051dn {
	opacity:.5;
}
.jssora051.jssora051ds {
	opacity:.3;pointer-events:none;
}





/* footer's HAI*/
footer{
	float: left;
	width: 100%;
	height: 350px;
	color: black;
	background-color:#f2fafb;
}
/*footer .footer-top{
	float: left;
	line-height: 2.0;
	border-bottom: 1px solid #5C5C5C;
	padding-bottom: 30px;
}
footer .footer-top ul li{
	list-style: none;
}
footer .footer-top ul li:hover{
	color: #FCAF17;
	cursor: pointer;
}
footer .footer-top ul li a:hover{
    color: #FCAF17;
    cursor: pointer;
}
footer .footer-top ul li a{
    color: #fff;
}
footer .footer-top .title{
	padding-bottom: 15px;
	border-bottom: 2px solid #62B446;
	line-height: 5.0;
}*/

footer .footer-bottom{
	margin-top: 50px;
	line-height: 1.5;
}
footer .footer-bottom .logo{
	width: 55%;
	height: auto;
}
footer .footer-bottom .about-us{
	float: left;
	padding: 5px 0;
}
footer .footer-bottom .bottom-center{
	margin-top: 30px;
}
footer .footer-bottom .enterMail{
	float: left;
	padding: 5px 0;
}
footer .bottom-center .form-inline {
    display: inline-block;
}
footer .bottom-center input {
    border: none;
    border-radius: 0;
}
footer .bottom-center button {
    border: 0 solid #62b446;
    border-radius: 5px;
    background-color: #62b446 !important;
    min-height: 40px;
}
footer .footer-bottom iframe{
	width: 100%;
	height: 240px
}
footer .bottom-center .social-inline{
	padding-top: 30px;
}
footer .social-inline a {
    font-size: 20px;
    border: 1px solid #006699;
    border-radius: 30px;
    width: 36px;
    height: 36px;
    display: block;
    float: left;
    text-align: center;
    padding-top: 4px;
    margin-right: 10px;
}
footer .social-inline a:hover{
	color: #FCAF17;
    border: 1px solid #FCAF17;
	cursor: pointer;
}
.copyright{
    padding: 30px 0px;
    background-color: #0099ee;
}


