@media only screen and  (max-width: 767px){
	.container {
		width: 90%;
	}
	

/* body's QUANG*/
	
	.section_1 .style_1{
	    position:relative;
	    margin:0 auto;
	    top:0px;
	    left:0px;
	    width:1300px;
	    height:700px;
	    overflow:hidden;
	    visibility:hidden;
	}

	.section_1 .style_1 .style_2{
	    cursor:default;
	    position:relative;
	    top:0px;
	    left:0px;
	    width:1300px;
	    height:750px;
	    overflow:hidden;
	}
	.title_main{
		font-size: 25px;
	}
	.features_item{
		margin-top: 50px;
	}
	.product_menu .btn{
	    font-size:15px;
	    font-weight: 600;
	    border:1px solid;
	    padding: 1rem 2rem;
	}
	.business_item .about_me{
		padding: 15px 0;
	    font-size:20px;
	    font-weight: 600;
        color: #0066CC;
        font-family:'Lato', sans-serif;
	}
/* footer's HAI*/
	footer {
		height: 620px;
	}
	footer .footer-bottom {
		text-align: center;
	}

	footer .footer-bottom .logo{
		width: 45%;
		height: auto;
	}

	footer .footer-bottom .about-us{
		float: none;
	}
	footer .footer-bottom .enterMail{
		float: none;
	}
	footer .bottom-center .form-group{
		margin-top: 15px;
		text-align: center;
	}
	footer .bottom-center button {
		margin-top: 25px;
		width: 25%
	}
	footer .bottom-center input {
		width: 44%;
		margin-left: 28%
	}
	footer .footer-bottom .bottom-right{
		display: none;
	}

	footer .bottom-center .social-inline {
	    margin-top: 5px;
	    padding-top: 0px
	}
	footer .bottom-center .form-inline {
	    display: block;
	}

	footer .bottom-center .social-inline {
	    padding-top: 5px;
	    height: 50px;
	    text-align: center;
	    display: inline-block;
	}

	footer .bottom-center .social-inline a {
	    font-size: 20px;
	    border: 1px solid #006699;
	    border-radius: 30px;
	    width: 36px;
	    height: 36px;
	    display: block;
	    float: left;
	    text-align: center;
	    padding: 4px;
	    margin: 5px ;
	}
	a.cd-top {
		bottom: 80px;
   		 right: 5px;
	}

	.copyright{
	    padding: 10px 0px;
	    text-align: center;
	}

}