*{

}

body {
	background-color: grey
}

.container {
	width: 1200px !important

}

.header {
	height: 80px;
	background-color: #fff;
	margin: 30px 0
}

.header .logo{

}
.header .logo img{
	height: 50px;
	width: auto;
	vertical-align: middle;
}

.header .search{
	flex-grow: 1;
	margin: 0 100px;
}

.header .search input{
	border: 1px solid rgba(0,0,0,0.09);
	background: rgba(0,0,0,0.03);
	height: 40px;
	width: auto;
	align-items: center !important;
}
