@media only screen and  (max-width: 767px){
	.container {
		width: 90%;
	}
	

/* body's QUANG*/
	.section_1 .style_1{
	    position:relative;
	    margin:0 auto;
	    top:0px;
	    left:0px;
	    width:1300px;
	    height:700px;
	    overflow:hidden;
	    visibility:hidden;
	}

	.section_1 .style_1 .style_2{
	    cursor:default;
	    position:relative;
	    top:0px;
	    left:0px;
	    width:1300px;
	    height:750px;
	    overflow:hidden;
	}
	.partner .title {
	    margin-bottom: 40px;
	    font-size: 20px;
	}
	.feature-products .title {
	    margin-bottom: 40px;
	    font-size: 20px;
	}
	.feature-products .container .product_item .product_info a{
	    color: #337ab7;
	    min-height: 50px;
	    font-size: 10px;
	    display: inline-block;
	    margin: 10px;
	}
	.feature-products .container .product_item {
	    border: 2px solid #ddd;
	    position: relative;
	    transition: all 0.5s;
	    cursor: pointer;
	    margin: 0 auto;
	    margin-bottom: 30px;
	    height:auto;
	    width: 100%;
	}

	.feature-products .container .product_item .image .image_product{
	    width:98%; 
	    height:auto;
	    -webkit-transition: all 0.3s;
	    -moz-transition: all 0.3s;
	    -ms-transition: all 0.3s;
	    -o-transition: all 0.3s;
	    transition: all 0.3s;
	}
	.feature-products .container .product_button{
	    position: absolute;
	    width: 50%;
	    bottom: 7px;
	    left: 25%;
	    margin: 0 auto;
	    text-align: center;
	    background: #005186;
	    border-radius: 8px;
	    padding: 4px;
	    opacity: 1;
	    font-size:8px;
	   
	}
	


/* footer's HAI*/
	footer {
		height: 1555px;
	}
	footer .footer-top {
		text-align: center;
	}
	footer .footer-bottom {
		text-align: center;
	}

	footer .footer-bottom .logo{
		width: 45%;
		height: auto;
	}

	footer .footer-bottom .about-us{
		float: none;
	}
	footer .footer-bottom .enterMail{
		float: none;
	}
	footer .bottom-center .form-group{
		margin-top: 15px;
		text-align: center;
	}
	footer .bottom-center button {
		margin-top: 25px;
		width: 25%
	}
	footer .bottom-center input {
		width: 44%;
		margin-left: 28%
	}
	footer .footer-bottom .bottom-right{
		display: none;
	}

	footer .bottom-center .social-inline {
	    margin-top: 5px;
	    padding-top: 0px
	}
	footer .bottom-center .form-inline {
	    display: block;
	}

	footer .bottom-center .social-inline {
	    padding-top: 5px;
	    height: 50px;
	    text-align: center;
	    display: inline-block;
	}

	footer .bottom-center .social-inline a {
	    font-size: 20px;
	    color: #f3f3f3;
	    border: 1px solid #fff;
	    border-radius: 30px;
	    width: 36px;
	    height: 36px;
	    display: block;
	    float: left;
	    text-align: center;
	    padding: 4px;
	    margin: 5px ;
	}

}