@media only screen and (max-width: 991px) and (min-width: 768px){
	
	.container {
		width: 750px;
	}

	.topbar-mobile.hidden-lg.hidden-md {
	    color: #fff;
	    line-height: 40px;
	    background: #005186;
	    font-size: 15px;
	}
	

/* body's QUANG*/
	

/* footer's HAI*/
	footer {
		height: 600px;
	}
	footer .footer-bottom .about-us{
		float: none;
	}
	footer .footer-bottom .bottom-left{
		float: left;
	}
	footer .footer-bottom .bottom-center{
		float: left;
	}
	footer .footer-bottom .bottom-right{
		float: left;
		margin-top: 20px;
	}
	footer .footer-bottom iframe{
		width: 100%;
		height: 200px
	}
	
}
