@media only screen and (max-width: 1199px) and (min-width: 992px){
	
	.container{
		width: 970px
	}
	

/* body's QUANG*/
	.feature-products .container .section_3 .product_item .product_info a{
	    color: #337ab7;
	    min-height: 50px;
	    font-size: 25px;
	    display: inline-block;
	    margin: 10px;
	}
	.feature-products .container .section_3 .product_item {
	    border: 2px solid #ddd;
	    position: relative;
	    transition: all 0.5s;
	    cursor: pointer;
	    margin-bottom: 30px;
	    height: 580px;
	    width: 450px;
	}
	.feature-products .container .section_3 .product_item .image .image_product{
	    width:445px; 
	    height:450px;
	    -webkit-transition: all 0.3s;
	    -moz-transition: all 0.3s;
	    -ms-transition: all 0.3s;
	    -o-transition: all 0.3s;
	    transition: all 0.3s;
	}
	.feature-products .container .section_3 .product_button{
		opacity:1;
	}
	.feature-products .container .section_3 .product_item:hover .image .image_product{
	    width : 435px; 
	    height : 440px;
	}


/* footer's HAI*/
	footer{
		float: left;
		width: 100%;
		height: 650px;
		color: #F3F3F3;
		background-color: #4E4E4E;
	}
	footer .footer-top{
		float: left;
		line-height: 2.0;
		border-bottom: 1px solid #5C5C5C;
		padding-bottom: 30px;
	}
	footer .footer-top ul li{
		list-style: none;
	}
	footer .footer-top ul li:hover{
		color: #FCAF17;
		cursor: pointer;
	}
	footer .footer-top .title{
		padding-bottom: 15px;
		border-bottom: 2px solid #62B446;
		line-height: 5.0;
	}

	footer .footer-bottom{
		margin-top: 35px;
		line-height: 1.5;
	}
	footer .footer-bottom .logo{
		width: 55%;
		height: auto;
	}
	footer .footer-bottom .about-us{
		float: left;
		padding: 5px 0;
	}
	footer .footer-bottom .bottom-center{
		margin-top: 30px;
	}
	footer .footer-bottom .enterMail{
		float: left;
		padding: 5px 0;
	}
	footer .bottom-center .form-inline {
	    display: inline-block;
	}
	footer .bottom-center input {
	    border: none;
	    border-radius: 0;
	}
	footer .bottom-center button {
	    border: 0 solid #62b446;
	    border-radius: 5px;
	    background-color: #62b446 !important;
	    min-height: 40px;
	}
	footer .footer-bottom iframe{
		width: 100%;
		height: 240px
	}
	footer .bottom-center .social-inline{
		padding-top: 30px;
	}
	footer .social-inline a {
	    font-size: 20px;
	    color: #f3f3f3;
	    border: 1px solid #fff;
	    border-radius: 30px;
	    width: 36px;
	    height: 36px;
	    display: block;
	    float: left;
	    text-align: center;
	    padding-top: 4px;
	    margin-right: 10px;
	}
	footer .social-inline a:hover{
		color: #FCAF17;
		cursor: pointer;
	}


}