*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	line-height: 1.15;
	color: #34404b;
	background:#f4f6f8; 
}
html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}

.container {
	width: 1170px;
	padding-left: 0 !important;
	padding-right: 0 !important;
}

a:hover{
	text-decoration: none !important
}

.align-items-center {
	-ms-flex-align: center !important;
	align-items: center !important;
}

@media (min-width: 992px) {
	.d-lg-flex {
		display: -ms-flexbox !important;
		display: flex !important;
	}

}

@media (max-width: 992px) {
	.icon-cart-mobile.hidden-md.hidden-lg.f-left.absolute {
		right:15px;
		top:45px;
		position: absolute;
		font-size: 25px
	}
}


.header-content .header-content-search {
	flex-grow: 1;
	/*margin: 0px 50px;*/
}

.picture {
    background: url(../img/slide2.png) no-repeat;
    background-size: cover;
    background-position: center;
    padding: 10px 0;
    text-transform: uppercase;
    text-align: center;
    padding: 100px 0;
    color: #fff;
}


.icon-cart-mobile.hidden-md.hidden-lg.f-left.absolute .icon.relative .fa {
	font-size:24px
}
.icon-cart-mobile.hidden-md.hidden-lg.f-left.absolute .cartCount {
	right:-20px;
	background:#e22b00
}
.menu-bar.hidden-md.hidden-lg {
	top:60px;
	left: 0
}
.logo img{
	width: auto;
	height: 130px;
}
.topbar-mobile.hidden-lg.hidden-md {
	color: #fff;
	line-height: 40px;
	font-size: 15px;
}

.text-md-left {
	/*text-align: left !important;*/
}

.a-center {
	text-align: center !important;
}

header ul li{
	list-style: none;
}

/*phần custom hide menu*/
.header-content-medium.hidden-sm.hidden-xs .header-acount .drop-down li {
    margin: 0px 20px;
}


/* body's QUANG*/
/*slide+product*/

/*jssor slider bullet skin 032 css*/

.section_1 .style_1{
    position:relative;
    margin:0 auto;
    top:0px;
    left:0px;
    width:1300px;
    height:400px;
    overflow:hidden;
    visibility:hidden;
}

.section_1 .style_1 .style_2{
    cursor:default;
    position:relative;
    top:0px;
    left:0px;
    width:1300px;
    height:400px;
    overflow:hidden;
}
.jssorb032 {
	position:absolute;
}
.jssorb032 .i {
	position:absolute;
	cursor:pointer;
}
.jssorb032 .i .b {
	fill:#fff;
	fill-opacity:0.7;
	stroke:#000;
	stroke-width:1200;
	stroke-miterlimit:10;
	stroke-opacity:0.25;
}
.jssorb032 .i:hover .b {
	fill:#000;
	fill-opacity:.6;
	stroke:#fff;
	stroke-opacity:.35;
}
.jssorb032 .iav .b {
	fill:#000;
	fill-opacity:1;
	stroke:#fff;
	stroke-opacity:.35;
}
.jssorb032 .i.idn {
	opacity:.3;
}

/*jssor slider arrow skin 051 css*/
.jssora051 {
	display:block;
	position:absolute;
	cursor:pointer;
}
.jssora051 .a {
	fill:none;
	stroke:#fff;
	stroke-width:360;
	stroke-miterlimit:10;
}
.jssora051:hover {
	opacity:.8;
}
.jssora051.jssora051dn {
	opacity:.5;
}
.jssora051.jssora051ds {
	opacity:.3;pointer-events:none;
}

@media only screen and  (min-width: 970px){
    .feature-products .container .product_item:hover .product_button{
	    opacity: 1;
	    }
    .feature-products .container .product_item:hover .image .image_product{
        width : 238px; 
        height : 228px;
    }
}


/* footer's HAI*/
footer{
    float: left;
    width: 100%;
    height: 433px;
    color: #b7b7b7;
    background: linear-gradient(to right, #2c455d, #00012c);
    opacity: 0.85;
}
.footer-area {
    position: relative;
    z-index: 1;

}
.bg-img {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
.bg-gradient-overlay::after {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background: #2c455d;
    background: -webkit-linear-gradient(to right, #2c455d, #00012c);
    background: linear-gradient(to right, #2c455d, #00012c);
    opacity: 0.85;
}
.copyright{
    position: relative;
    z-index: 1;
    border-top: 1px solid #576a7d;
    padding: 21px 0 14px 0;
    text-align: center;
}


footer .footer-bottom{
    margin-top: 50px;
    margin-bottom: 50px;
    line-height: 1.5;
}
footer .footer-bottom .logo{
    width: 62%;
    height: auto;
}
footer .footer-bottom .about-us{
    float: left;
    padding: 5px 0;
}

footer .footer-bottom .enterMail{
    float: left;
    padding: 5px 0;
}
footer .bottom-center .form-inline {
    display: inline-block;
}
footer .bottom-center input {
    border: none;
    border-radius: 0;
}
footer .bottom-center button {
    border: 0 solid #00aeef;
    border-radius: 5px;
    background-color: #00aeef !important;
    min-height: 40px;
}
footer .footer-bottom iframe{
    width: 100%;
    height: 255px;
}
footer .bottom-center .social-inline{
    padding-top: 30px;
}
footer .social-inline a {
    font-size: 20px;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 30px;
    width: 36px;
    height: 36px;
    display: block;
    float: left;
    text-align: center;
    padding-top: 4px;
    margin-right: 10px;
}
footer .social-inline a:hover{
    color: #00aeef;
    border: 1px solid #00aeef;
    cursor: pointer;
}





@media only screen and  (max-width: 767px){
    .container {
        width: 90%;
    }
    footer {
        height: 6020px;
    }
    footer .footer-bottom {
        text-align: center;
    }
    footer .footer-bottom .bottom-center{
        margin-top: 30px;
    }
    footer .footer-bottom .logo{
        width: 45%;
        height: auto;
    }

    footer .footer-bottom .about-us{
        float: none;
    }
    footer .footer-bottom .enterMail{
        float: none;
    }
    footer .bottom-center .form-group{
        margin-top: 15px;
        text-align: center;
    }
    footer .bottom-center button {
        margin-top: 25px;
        width: 25%
    }
    footer .bottom-center input {
        width: 44%;
        margin-left: 28%
    }
    footer .footer-bottom .bottom-right{
        display: none;
    }

    footer .bottom-center .social-inline {
        margin-top: 5px;
        padding-top: 0px
    }
    footer .bottom-center .form-inline {
        display: block;
    }

    footer .bottom-center .social-inline {
        padding-top: 5px;
        height: 50px;
        text-align: center;
        display: inline-block;
    }

    footer .bottom-center .social-inline a {
        font-size: 20px;
        border: 1px solid #fff;
        border-radius: 30px;
        width: 36px;
        height: 36px;
        display: block;
        float: left;
        text-align: center;
        padding: 4px;
        margin: 5px ;
    }
    footer .social-inline a:hover{
        color: #FCAF17;
        border: 1px solid #FCAF17;
        cursor: pointer;
    }
    a.cd-top {
        bottom: 80px;
         right: 5px;
    }

    .copyright{
        padding: 10px 0px;
        text-align: center;
    }
    .product_name{
        font-size: 27px;
        color: #fd6e1d;
        margin-bottom: 40px
    }
    .image_product{
        max-width:100%; 
        margin:10px 0;
        padding:20px 0;
        border:2px solid #005186; 
        border-radius: 8px;
    }
    .image_small_product{
        margin-top: 0px;
        text-align: center;
    }
    .callbuy{
        text-align: center;
    }
}




/* back to top */
a.cd-top {
    display: inline-block;
    height: 40px;
    width: 40px;
    position: fixed;
    bottom: 70px;
    right: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    /* image replacement properties */
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    background: #3097D1 url("../img/top.png") no-repeat center 50%;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity .3s 0s, visibility 0s .3s;
    -moz-transition: opacity .3s 0s, visibility 0s .3s;
    transition: opacity .3s 0s, visibility 0s .3s;
}
a.cd-top.cd-is-visible, a.cd-top.cd-fade-out, .no-touch a.cd-top:hover {
    -webkit-transition: opacity .3s 0s, visibility 0s 0s;
    -moz-transition: opacity .3s 0s, visibility 0s 0s;
    transition: opacity .3s 0s, visibility 0s 0s;
}

a.cd-top, a.cd-top:visited, a.cd-top:hover {
    color: #CCCCCC;
    text-decoration: none;
}

a.cd-top.cd-is-visible {
/* the button becomes visible */
    visibility: visible;
    opacity: 1;
}
a.cd-top.cd-fade-out {
/* if the user keeps scrolling down, the button is out of focus and becomes less visible */
    opacity: 1;
}

/*about*/

.main_category .content_title h2 {
    color: #005186;
    font-size: 26px;
    margin-bottom: 15px;
}
.content_title .post_meta {
    font-size: 13px;
    border-bottom: 1px solid #eee;
    padding: 15px 0;
    margin-bottom: 5px;
    letter-spacing: 0.5px;
    color: #EF3F27;
}
.content_title .post_meta a {
    color: #0199DC;
}
.content_body p {
    line-height: 1.5;
    font-size: 16px;
}
.content_body ul {
    line-height: 1.4;
    font-size: 16px;
    margin-left: 35px;
}
.content_body span {
    font-size: 16px;
    line-height: 1.7;
}
/*---------------------conten body----*/


}form.cart {
    display: none;
}.detailcall-1 {
    margin: 10px 0;
    padding: 12px 30px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    background: #fd6e1d;
    text-align: center;
    display: inline-block;
    width: 51%;
    background: -webkit-linear-gradient(top,#f59000,#fd6e1d);
}button.btn.btn-default {
    background: orange;
    border: 1px solid white;
    padding: 8px 30px;
    color: white;
    border-radius: 0;
    margin-top: 10px;
    margin: auto;
    display: inherit;
    background: -webkit-linear-gradient(top,#288ad6,#0e74c2);
    width: 100%;
    border-radius: 7px;
    font-size: 16px;
    font-weight: 700;
}
button,
html [type="button"],
[type="reset"],
[type="submit"] {
	-webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
	border-style: none;
	padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
	outline: 1px dotted ButtonText;
}



ul,
ol {
	margin: 0 0 1.5em;
	padding: 0;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}
dt {
	font-weight: 700;
}

dd {
	margin: 0 1.5em 1.5em;
}

table {
	border-collapse: collapse;
	margin: 0 0 1.5em;
	width: 100%;
}
thead th {
	border-bottom: 2px solid #bbb;
	padding-bottom: 0.5em;
}
th {
	padding: 5px 10px;
	text-align: left;
	border: 1px solid #EEE;
}
tr {
	
}
td {
	padding: 5px 10px; border: 1px solid #EEE;
}

th:first-child,
td:first-child {

}

th:last-child,
td:last-child {

}

a:hover,
a:active {
	color: #000;
	outline: 0;
}
/* 404 page */
.error404 .page-content {
	padding-bottom: 4em;
}

.error404 .page-content .search-form,
.search .page-content .search-form {
	margin-bottom: 3em;
}


.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}
/* Make sure embeds and iframes fit their containers. */
.wp-caption,

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}

.callbuy ul{
	padding-top: 9px;
	margin-bottom: 5px;
}
.detailcall-1{
	background: #288ad6;
}
.callbuy i{
	width: 15px;
	color:rgb(253, 213, 4);
}
.call{
	margin-top: 10px;
}
.callbuy [class*='col']{
	padding: 0 !important;
}
.detailcall-1 .added_to_cart.wc-forward{
	display: none;
}
.callbuy ul li a{
	font-size: 16px;
	font-weight: bold;
}
form.cart{
	display: block;
}
.detailcall-1{
	width: 100%;
	margin-top: 0;
	
}
.detailcall-1 a{
	font-size: 13px !important;
	color: white !important;
    margin-top: 0px;
    margin-bottom: 0;
}
.add-cart{
	border-radius: 10px;
	width: 100%;
}
.singsp button.add-cart.btn_them.single_add_to_cart_button.alt.buynow.btn-style-add.addtocart-modal {
    padding: 12px 30px !important;
    margin-bottom: 10px;
    line-height: 1.5;
    
}
.row-price{
	margin-bottom: 15px;
}
.price-online span{
	color:red;
	font-weight: bold;
	font-size: 16px;
}
.woocommerce .quantity .qty{
	width: 60px;
	padding: 3px !important;
}
.woocommerce .quantity span{
	margin-right: 25px; float: left;
}
.woocommerce .quantity .qty{
	margin-left: 0!important;
}
.price-online{
	font-size: 16px;
	font-weight: bold;
}

/************STYLE FORM*******************/
.cotphai{
	border-top: none !important;
}
.content_tab{
    background:#fff;
    margin-top: 20px;
}
.confluid{
     padding: 15px 
}
.confluid ul,
.confluid ol{margin: 15px;}
.regular-price{
       padding: 0px 30px;
}
.page .panel-content .entry-title, .page-title, body.page:not(.twentyseventeen-front-page) .entry-title {
    font-size: 14px!important;
    font-weight: 700!important;
    letter-spacing: 1px!important;
}

.newsproduct1 li{
    display: block;
    
}
.newsproduct1 li h3 {
    display: block;
    font-size: 16px;
    color: #333;
}
.newsproduct1 li p {
    display: block;
    color: #C90000;
    font-size: 14px;
    line-height: 32px;
}
.homenews,.homeproduct {

}.homenews1{

    margin-top: 0px; 
}

.button{
        background: #51b935!important;    border-radius: 0px!important;
        color:#fff!important;
}.button:hover{
    background: #d97f00!important;
}

.add-cart{
    border: 0;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 0;
    font-family: inherit;
    font-weight: normal;
    line-height: 1;
    margin: 0 0 1.25em;
    position: relative;
    text-decoration: none;
    text-align: center;
    -webkit-transition: all 200ms ease-out;
    transition: all 200ms ease-out;
    display: inline-block;
    padding-top: .75em;
    padding-right: 1.5em;
    padding-bottom: .8125em;
    padding-left: 1.5em;
    font-size: 1.14em;
    background-color: red;
    border-color: #627f9a;
    color: #fff;
}
.quantity{
        display: inline-flex;
      
}
.woocommerce .quantity .qty{
     padding: 0px!important;
    border-radius: 0!important;
    margin-left: 20px!important; 
}

.tab-block{
    clear:both;
}
.tab1{
        background: #0154a4;
    padding: 11.5px;    margin: 0;
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
        -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    -webkit-transition-property: color;
    transition-property: color;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    -webkit-transition-duration: 1s;
    transition-duration: 1s;
}
.tab1:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #f68806;
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -o-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition-property: transform;
    transition-property: transform;
    -moz-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-duration: 1s;
    transition-duration: 1s;
}
.tab1:hover:before {
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -o-transform: scaleX(1);
    transform: scaleX(1);
    -moz-transition-timing-function: cubic-bezier(.52,1.64,.37,.66);
    -o-transition-timing-function: cubic-bezier(.52,1.64,.37,.66);
    -webkit-transition-timing-function: cubic-bezier(.52,1.64,.37,.66);
    transition-timing-function: cubic-bezier(.52,1.64,.37,.66);
}

.homenews figure.title{
    display: block;
    overflow: hidden;
    background: #f0f0f0;
}
.homenews h2 {
    float: left;
    padding: 12px 10px 8px;
    background: #fdd504;
    line-height: 1.3em;
    text-transform: uppercase;
    text-align: center;
    margin: 0px;
    font-size: 14px;
    color: #333;
}
.homenews figure b {
    float: left;
    width: 0;
    height: 0;
    border-left: 0 solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 38px solid #af9300;
}
.section{
    margin-top: 15px;
}
.homenews ul {
    display: block;
    overflow: hidden;
    background: #fff;
    margin: 0;
}
.homenews li {
    border-bottom: 1px solid #ededed;
    background: #fff;
    margin: 0;
    padding: 13px 15px;
    list-style: none;
}
.homenews li:last-child {border-bottom: none;}
.homenews li{
    overflow: hidden;
}
.homenews li img {
    float: left;
    width: 40%;
    height: auto;
    margin-right: 10px;
}

.homenews .newsproduct1 li img{height: auto}
.homenews li h3 {
    display: block;
    overflow: hidden;
    height: 36px;
    line-height: 1.3em;
    font: 14px/18px Helvetica,Arial,'DejaVu Sans','Liberation Sans',Freesans,sans-serif;
    color: #333;
    margin-bottom: 1px;
    margin-top: 2px;
}
.homenews li span {
    font-size: 12px;
    color: #999;
    margin-right: 10px;
}
.homenews li:hover h3,
.section-title a:hover {
    color: #288ad6;
}

.note{border: 1px dashed #EEE; padding: 10px; margin-top: 20px;}
.note ul{margin: 0 20px 0;}
.note ul li{padding: 3px 0;}

/* ----- slide produc ----------*/
.w3-opacity,.w3-hover-opacity:hover{
	opacity:0.50
}
.w3-opacity-off,.w3-hover-opacity-off:hover{
	opacity:1;
    border:2px solid #005186;
}
 .w3-hover-opacity-off:hover{
    opacity:1;
    border:2px solid #005186;
}
.img_style{
        width:auto;
        cursor:pointer;
        border:1px solid #AAAAAA;
        border-radius: 3px
   }
.describe{
    margin-top: 50px;
    margin-bottom: 30px;
}
/*********/
@media only screen and  (min-width:1170px){
    .product_name{
        font-size: 35px;
        color: #fd6e1d;
        margin-bottom: 40px
    }
    .image_product{
        max-width:100%; 
        padding-top:40px;
        padding-bottom:28px; 
        border:2px solid #005186; 
        border-radius: 8px;
        margin-top: 20px
    }
   .image_small_product{
        margin-top: 100px;
        
    }
    .img_small{
        margin: 0 10px;
    }
    .button_download{
        padding: 6px 18px;
        border-radius: 15px;
        border: 1px solid #00a885;
        color: #fff;
        background-color: #00a885;
    }
}




/*---enđ mô tả sp------*/
