
header {
	background:transparent;
	width:100%
}
@media (min-width: 992px) {
header .nav>li>a:focus,header .nav>li>a:hover {
	background:#ff5c00
}
}
.topbar {
	background:#e1e1e1 !important;
	color:#333333;
	text-align:center;
	height:40px;
	line-height:40px
}
.topbar a {
	color:#fff;
	font-weight:600
}
.topbar a:hover {
	color:main-color-2
}

.logo {
	display: inline-block;
	font-size: 2em;
}
.header_search {
	width:auto
}
.header_search input {
	float:right;
	background:#eee;
	border:none !important
}
.header_search .input-group-btn {
	position:absolute;
	right:0;
	top:2px;
	width:45px;
	margin-right: 5px;
	color: #fff;
	padding: 7px 0;
	background-color:#e02c26;
	border-radius: 3px;
}
@media (max-width: 991px) {
.header_search .input-group-btn {
	background:#eee
}
}
.header_search .input-group {
	width:100%;
	margin-bottom:0;
	border:1px solid #ededed
}
.header_search button {
	padding:0;
	width:45px;
	background:transparent
}
.header_search button img {
	margin-top:6px
}

/*.header-content {
	padding-top:20px
}*/
.mini-cart {
	z-index:10;
	text-align:center;
	display:inline-block;
	float:right;
	padding-bottom:0;
	margin-right:0;
	width:130px
}
.mini-cart .top-cart-content {
	display:block;
	-webkit-transform:translateY(50px);
	-ms-transform:translateY(50px);
	-o-transform:translateY(50px);
	transform:translateY(50px);
	opacity:0;
	min-width:200px;
	filter:alpha(opacity=0);
	-webkit-transition:all 0.3s ease 0s;
	-o-transition:all 0.3s ease 0s;
	transition:all 0.3s ease 0s;
	visibility:hidden;
	position:absolute;
	right:0;
	left:auto;
	background:#fff;
	padding:0;
	text-align:left;
	box-shadow:0 0 15px -5px rgba(0,0,0,0.4);
	z-index:10000
}
.mini-cart .top-cart-content .empty {
	text-align:left;
	color:#363636
}
.mini-cart .top-cart-content .product-details-bottom {
	margin-bottom:15px;
	line-height:33px
}
.mini-cart .top-cart-content .product-details-bottom span {
	font-weight:700;
	color:#ff5c00
}
.mini-cart .top-cart-content .product-details-bottom span.price {
	color:#ff5c00
}
.mini-cart .top-cart-content .product-name {
	margin:0;
	line-height:1;
	padding-right:20px
}
.mini-cart .top-cart-content .product-name a {
	font-size:1em;
	line-height:normal;
	line-height:20px !important;
	font-weight:400;
	color:#333;
	word-break:break-word
}
.mini-cart .top-cart-content .product-name a:hover {
	color:#ff5c00
}
.mini-cart .top-cart-content li {
	list-style:none
}
.mini-cart .top-cart-content li.item {
	overflow:hidden;
	border-top:solid 1px #ebebeb;
	padding:12px 0px
}
.mini-cart .top-cart-content li.item .border_list {
	overflow:hidden
}
.mini-cart .top-cart-content li.item:first-child {
	border-top:none;
	padding-top:10px
}
.mini-cart .top-cart-content li.item:last-child {
	margin:0;
	border-bottom:none
}
.mini-cart .top-cart-content li.item .product-image {
	float:left;
	display:flex;
	width:80px;
	align-items:center;
	justify-content:center;
	overflow:hidden;
	margin-right:10px;
	margin-bottom:5px
}
.mini-cart .top-cart-content li.item .detail-item {
	width:calc(100% - 90px);
	float:left;
	display:block;
	word-break:break-word;
	position:relative
}
.mini-cart .top-cart-content li.item .detail-item .product-details {
	padding-right:10px
}
.mini-cart .top-cart-content li.item .detail-item .product-details-bottom .qty_drop_cart {
	line-height:0px;
	margin-top:9px
}
.mini-cart .top-cart-content li.item .detail-item .fa {
	position:absolute;
	top:3px;
	width:auto;
	right:0;
	left:auto;
	top:9px;
	color:#898989;
	transform:translateY(-50%);
	width:18px;
	height:18px;
	background:#ff5c00;
	text-align:center;
	line-height:18px;
	padding-left:0;
	border-radius:50%;
	color:#fff !important
}
.mini-cart .top-cart-content li.item .detail-item .fa:before {
	display:inline-block;
	font-size:12px;
	width:100%;
	height:16px;
	text-align:center;
	line-height:14px;
	transform:translateY(-1px);
	-moz-transform:translateY(-1px);
	-webkit-transform:translateY(-1px)
}
.mini-cart .top-cart-content li.item .detail-item .fa:hover {
	color:#ff5c00;
	text-decoration:none
}
.mini-cart .top-cart-content li.item .detail-item input {
	display:inline-block;
	float:left;
	width:22px;
	height:24px;
	min-height:24px;
	padding:0;
	text-align:center;
	margin:0;
	border-radius:0;
	border-left:0;
	border-right:0
}
.mini-cart .top-cart-content li.item .detail-item button.items-count {
	display:inline-block;
	cursor:pointer;
	float:left
}
.mini-cart .top-cart-content .block-subtitle {
	color:#363636;
	overflow:hidden;
	padding:15px;
	text-align:left;
	font-size:.92857em;
	background:#f5f5f5;
	text-transform:none;
	font-weight:400;
	border-bottom:1px #e1e1e1 solid
}
.mini-cart:hover .top-cart-content {
	display:block;
	top:100%;
	visibility:visible;
	opacity:1;
	filter:alpha(opacity=1);
	-webkit-transform:translateY(0);
	-ms-transform:translateY(0);
	-o-transform:translateY(0);
	transform:translateY(0)
}
.mini-cart .dropdown-toggle {
	font-size:12px;
	padding:0;
	text-transform:none
}
.mini-cart .cart-label {
	color:#333;
	position:relative;
	display:inline-block;
	width:100%;
	font-size:21px;
	height:30px;
	border-radius:50%;
	line-height:30px;
	background:transparent;
	color:#333
}
.mini-cart .cart-label span.lnr.lnr-cart {
	transform:translateY(6px);
	display:block
}
.mini-cart .cart-info,.mini-cart .info {
	position:absolute;
	left:30px;
	top:-4px;
	font-size:11px;
	background:#ff5c00;
	color:#fff;
	padding:0 3px;
	width:20px;
	height:20px;
	line-height:20px;
	border-radius:50%
}
.mini-cart .info {
	font-size:14px;
	right:10px
}

.heading-cart {
	position:relative
}
.heading-cart .cartCount {
	display:inline-block;
	width:23px;
	height:22px;
	border-radius:0;
	line-height:23px;
	text-align:center;
	border-radius:50%;
	background:#ff5c00;
	position:absolute;
	font-size:11px;
	right:-15px;
	top:-10px;
	color:#fff
}
.top-cart-contain {
	color:#363636;
	padding:17px 0 0 0;
	right:0;
	width:130px;
	border-left:1px solid rgba(255,255,255,0.5);
	border-right:1px solid rgba(255,255,255,0.5);
	position:relative
}
.top-cart-contain .heading-cart {
	position:relative
}
.top-cart-contain .heading-cart .cartCount {
	display:inline-block;
	width:24px;
	height:24px;
	border-radius:0;
	line-height:24px;
	text-align:center;
	border-radius:50%;
	background:#2a2a2a;
	position:absolute;
	font-size:11px;
	right:-15px;
	top:-3px;
	color:#fff
}
.top-cart-contain .price {
	color:#252525
}
.top-cart-contain .mini-cart .price {
	margin-right:5px;
	font-size:16px;
	font-weight:700;
	color:#ff5c00
}
.top-cart-contain .product-details .price {
	color:#252525;
	width:auto;
	float:none;
	font-weight:400;
	padding-left:0;
	font-size:12px
}
.top-cart-contain .icon.f-left.relative {
	height:40px;
	margin-right:20px;
	display:flex;
	align-items:center;
	justify-content:center
}
.top-cart-contain .right-content {
	padding-top:2px;
	text-align:left;
	line-height:1;
	white-space:nowrap
}
.top-cart-contain .right-content .label {
	white-space:nowrap;
	font-weight:400;
	padding-bottom:4px;
	display:block;
	text-align:left;
	font-size:14px;
	color:#333
}


/*ul#cart-sidebar {
	padding:15px;
	margin:0;
	max-height:625px;
	min-width:310px;
	width:310px;
	position:relative
}
ul#cart-sidebar:before {
	position:absolute;
	width:0;
	height:0;
	right:0px;
	top:-10px;
	border-right:10px solid transparent;
	border-left:10px solid transparent;
	border-bottom:10px solid #fff
}
ul#cart-sidebar .list-item-cart {
	max-height:260px;
	overflow:auto
}
ul#cart-sidebar .list-item-cart::-webkit-scrollbar-track {
	-webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.3);
	background-color:#F5F5F5
}
ul#cart-sidebar .list-item-cart::-webkit-scrollbar {
	width:4px;
	background-color:#F5F5F5
}
ul#cart-sidebar .list-item-cart::-webkit-scrollbar-thumb {
	background-color:#000000;
	border:2px solid #e1e1e1
}
ul#cart-sidebar .list-item-cart li.list-item {
	max-height:400px;
	overflow-y:auto
}
ul#cart-sidebar .list-item-cart li.action {
	display:none
}
ul#cart-sidebar .list-item-cart.hasclass li.action {
	display:block
}
ul#cart-sidebar .list-item-cart li.list-item .price2 {
	font-weight:700;
	color:#ff5c00;
	font-size:14px;
	display:list-item;
	margin-bottom:5px
}
ul#cart-sidebar .list-item-cart li.list-item::-webkit-scrollbar {
	width:5px
}
ul#cart-sidebar .list-item-cart li.list-item::-webkit-scrollbar-track {
	background:rgba(255,255,255,0.9)
}
ul#cart-sidebar .list-item-cart li.list-item::-webkit-scrollbar-thumb {
	background:#ff5c00;
	border-radius:15px
}
ul#cart-sidebar .list-item-cart li.list-item::-webkit-scrollbar-thumb:hover,ul#cart-sidebar .list-item-cart li.list-item::-webkit-scrollbar-thumb:active {
	background:#ff5c00;
	border-radius:15px
}
ul#cart-sidebar .no-item {
	height:auto
}
ul#cart-sidebar .no-item p {
	margin:0px;
	line-height:24px
}
ul#cart-sidebar .right_ct {
	text-align:center;
	margin-top:10px
}
ul#cart-sidebar .right_ct .btn {
	margin:0 10px !important;
	display:inline-block;
	min-width:100%;
	font-size:16px;
	color:#fff;
	font-weight:600
}
ul#cart-sidebar .right_ct .btn.btn-primary {
	margin-left:0 !important;
	margin-left:0 !important;
	width:115px;
	min-width:auto
}
ul#cart-sidebar .right_ct .btn.btn-white {
	display:none;
	margin-right:0 !important
}*/


header nav {
	background:transparent;
	text-align:left;
	padding-top:5px;
	-webkit-box-shadow:0px 5px 10px 0px rgba(84,84,84,0.15);
	-moz-box-shadow:0px 5px 10px 0px rgba(84,84,84,0.15);
	box-shadow:0px 5px 10px 0px rgba(84,84,84,0.15)
}

header nav>.container>div {
	position:relative
}
header nav .nav.nav-left {
	float:left
}
header nav .logo {
	display:inline-block;
	margin:0 50px
}
header nav ul.nav-dt .nav-item {
	float:none;
	display:inline-block;
	position:relative
}
header nav ul.nav-dt .nav-item.has-mega {
	position:static
}
header nav ul.nav-dt .nav-item>a {
	padding:25px 40px 25px 0;
	position:relative;
	font-size:17px
}
header nav ul.nav-dt .nav-item>a:after {
	content:"";
	position:absolute;
	right:17px;
	top:37px;
	width:4px;
	height:4px;
	background:#ff5c00
}
header nav ul.nav-dt .nav-item>a:hover {
	color:#ff5c00;
	background:transparent
}
header nav ul.nav-dt .nav-item>.fa {
	color:#fff;
	position:absolute;
	right:0;
	top:33px
}
header nav ul.nav-dt .nav-item .nav-item-lv2 {
	padding:0 10px
}
header nav ul.nav-dt .nav-item .nav-item-lv3 {
	padding:0 10px
}
header nav ul.nav-dt .nav-item:last-child a:after {
	display:none
}
header nav ul.nav-dt .nav-item.active>a {
	color:#ff5c00
}
header nav ul.nav-dt .nav-item .dropdown-menu {
	display:block;
	top:100%;
	left:0;
	min-width:200px;
	max-width:280px;
	filter:alpha(opacity=0);
	-webkit-transition:all 0.3s ease 0s;
	-o-transition:all 0.3s ease 0s;
	transition:all 0.3s ease 0s;
	padding:10px 0;
	border:1px solid rgba(255,255,255,0.3);
	border-top:none;
	z-index:99
}
@media (min-width: 992px) {
header nav ul.nav-dt .nav-item .dropdown-menu {
	-webkit-transform:translateY(50px);
	-ms-transform:translateY(50px);
	-o-transform:translateY(50px);
	transform:translateY(50px);
	visibility:hidden;
	opacity:0
}
}
header nav ul.nav-dt .nav-item .dropdown-menu li {
	padding:0px 20px
}
header nav ul.nav-dt .nav-item .dropdown-menu li a {
	line-height:16px;
	padding:10px 10px 10px 0;
	color:#333
}
header nav ul.nav-dt .nav-item .dropdown-menu li a i {
	float:right;
	position:absolute;
	right:15px;
	top:10px
}
@media (max-width: 991px) {
header nav ul.nav-dt .nav-item .dropdown-menu li a i {
	top:9px
}
}
header nav ul.nav-dt .nav-item .dropdown-menu li a:hover {
	color:#ff5c00
}
header nav ul.nav-dt .nav-item .dropdown-menu li:last-child a {
	border:none
}
header nav ul.nav-dt .nav-item .mega-content {
	-webkit-transform:translateY(50px);
	-ms-transform:translateY(50px);
	-o-transform:translateY(50px);
	transform:translateY(50px);
	opacity:0;
	filter:alpha(opacity=0);
	-webkit-transition:all 0.3s ease 0s;
	-o-transition:all 0.3s ease 0s;
	transition:all 0.3s ease 0s;
	visibility:hidden;
	position:absolute;
	background:#fff;
	z-index:999;
	padding:15px;
	left:0px;
	text-align:left
}
header nav ul.nav-dt .nav-item .mega-content .h4 {
	font-size:15px;
	font-weight:600;
	color:#333;
	margin:0
}

header nav ul.nav-dt .nav-item .mega-content ul.level1 {
	font-size:13px
}

header nav ul.nav-dt .nav-item .mega-content a {
	color:#333
}
header nav ul.nav-dt .nav-item .mega-content a:hover {
	color:#ff5c00 !important
}
@media (max-width: 1199px) {
header nav ul.nav-dt .nav-item .mega-content {
	width:940px
}
}
header nav ul.nav-dt .nav-item .mega-content .level1.item {
	float:left;
	width:25%;
	padding:5px 15px
}
header nav ul.nav-dt .nav-item .mega-content .level1.item a {
	display:block;
	padding:5px 0
}
header nav ul.nav-dt .nav-item .mega-content .level1.item:nth-child(4n+1) {
	clear:left
}
header nav ul.nav-dt .nav-item:hover>a {
	color:#ff5c00
}
header nav ul.nav-dt .nav-item:hover>.dropdown-menu {
	visibility:visible;
	opacity:1;
	filter:alpha(opacity=1);
	-webkit-transform:translateY(0);
	-ms-transform:translateY(0);
	-o-transform:translateY(0);
	transform:translateY(0);
	margin-top:0;
	border-radius:0;
	padding:0;
	text-align:left;
	border:none;
	color:#333
}
header nav ul.nav-dt .nav-item:hover>.mega-content {
	width:100%;
	display:block;
	text-align:left;
	visibility:visible;
	opacity:1;
	filter:alpha(opacity=1);
	-webkit-transform:translateY(0);
	-ms-transform:translateY(0);
	-o-transform:translateY(0);
	transform:translateY(0)
}
header nav ul.nav-dt .nav-item li.dropdown-submenu {
	position:relative;
	clear:left
}
header nav ul.nav-dt .nav-item li.dropdown-submenu .dropdown-menu {
	left:100%;
	top:0;
	min-width:200px
}
header nav ul.nav-dt .nav-item li.dropdown-submenu:hover>.dropdown-menu {
	display:block;
	border:none;
	border-radius:0;
	visibility:visible;
	opacity:1;
	filter:alpha(opacity=1);
	-webkit-transform:translateY(0);
	-ms-transform:translateY(0);
	-o-transform:translateY(0);
	transform:translateY(0)
}

