
html,
.product_menu {
    font-size: 14px;
    color: #797979;
    width: 100%;
    padding: 0;
    margin-left: 0;
    margin-right: 0;
    font-weight: 400;
    width:100%;
    font-family: 'Lato', sans-serif;
}
.roomy-100 {
    padding-top: 100px;
    padding-bottom: 100px;
}

.roomy-80 {
    padding-top: 100px;
    padding-bottom: 100px;
}

.roomy-70 {
    padding-top: 110px;
    padding-bottom: 110px;
}

.roomy-60 {
    padding-top: 80px;
    padding-bottom: 60px;
}

.roomy-50 {
    padding-top: 50px;
    padding-bottom: 50px;
}

.roomy-40 {
    padding-top: 40px;
    padding-bottom: 40px;
}
.clear {
    clear: both;
}
.bg-grey {
    background-color: none; /*#f5f5f5*/
}
img {
    max-width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    color:#1a1a1a;
    margin-bottom: 10px;
}

h1 {
    font-size: 3rem;
    line-height: 4rem;
}
h2 {
    font-size: 2.5rem;
    line-height: 3rem;
}
h3 {
    font-size: 1.500rem;
    line-height: 2rem;
}
h4 {
    font-size: 1.6rem;
    line-height: 2.2rem;
}
h5 {
    font-size: 1.125rem;
    line-height: 1.575rem
}
h6 {
    font-size: 1rem;
}
ul{
    margin:0;
    padding:0;
    list-style:none;
}
.fix{
    overflow: hidden;
    
}


.product_menu .btn-primary{
    color: #fff;
    background-color: #1FA67A;
    border:1px solid;
    border-color: #005186;

}
.product_menu .btn-primary:hover{
    background-color: #088A68;
    border-color: #eee;
    color:#fff;
}

.product_menu .btn-default{
    color: #fff;
    background-color: transparent;
    border:1px solid;
    border-color: #b6b6b6;
}
.product_menu .btn-default:hover{
    color: #fff;
    background-color: #088A68;
    border-color: #fff;
}
.features_item .f_item_icon{
    float: left;
    width:15%;
    display: inline-block;
    margin-right: 21px;
}
.features_item .f_item_icon i{
    font-size:4rem;
    color:#1FA67A;
}
.features_item .f_item_text{
    display: inline-block;
    width:75%;
}
.features_item .f_item_text p{
    font-size:14px;
    text-align: justify;
}
@media only screen and  (min-width: 1170px){
    .business_item .about_me{
        font-size:35px;
        font-weight: 600;
        color: #1FA67A;
        font-family:'Lato', sans-serif;
        margin-bottom: 20px;
    }
    .product_menu .btn{
        -webkit-transition: all 0.6s;
        transition: all 0.6s;
        font-size:14px;
        font-weight: 600;
        border:1px solid;
        padding: 1rem 3.5rem;
    }
    .new_product_img{
        height: 250px;
        width: 290px;
    }
    .new_product{
        width:100%;
        height: auto;
    }
}
.business_item li{
    font-size:18px;
    font-weight: 300;
    line-height: 2rem;
}
.business_item li i{
    font-size:12px;
    margin-right: 5px;

}
.business_item p{
    color:#333333;
    line-height: 2rem;
    font-size:14px;
    font-weight: 500;
}
.business_item .business_btn{
    margin-left:-10px;
}
.business_item .business_btn a{
    margin-left:10px;
}
.business_item .business_btn .btn-default{
    color:#444444;
}
.business_item .business_btn .btn-default:hover{
    color:#fff;
}
.slid_shap{
    height: 40px;
    border-radius: 4px 4px 0px 0px;
    width:100%;
}
.business_slid {
    box-shadow: 0px 0px 8px -1px;
    border-radius: 4px 4px 0px 0px;
}

.business_slid .business_items{
    background-color: #fff;
    margin: 0;
}

.business_slid .slick-arrow{
    position: absolute;
    top:44%;
    z-index: 1;
    cursor:pointer;
    width:30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size:20px;
    transition: all 0.6s;
    color:#fff;
}
.business_slid .nextprevleft{
    left:5.9%;
}
.business_slid .nextprevright{
    right:6%;
}
.business_slid .nextprevleft:hover,
.business_slid .nextprevright:hover{
    background-color: #ddd;
    border-radius: 50%;
}

.business_slid .slick-dots {
    position: absolute;
    top: -33px;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: left;
}
.main_product .carousel-control{
    background-color: #fff;
    color:#333;
    border-radius: 50%;
    width:50px;
    height: 50px;
    line-height: 50px;
    font-size:1rem;
    text-align: center;
    top:30%;
}
.main_product .carousel-control:hover{
    background-color: #005186;
    color:#fff;
}
.main_product .carousel-control.left{
    left:-1.4%;
    box-shadow: -1px 0px 0px 0px;
}
.main_product .carousel-control.right {
    right:-1.4%;
    box-shadow: 1px 0px 0px 0px;
}

.main_product .port_img{
    position: relative;
    overflow: hidden;
}

/*.main_product .port_img img{
    width:100%;
}*/
.main_product .port_overlay{
    width:100%;
    height: 100%;
    background-color: rgba(0,148,285,0.6);
    position: absolute;
    left:0;
    top:0;
    padding-top: 35%;
    opacity: 0;
    transition: all 0.2s;
}
.main_product .port_overlay a{
    width:40px;
    height: 40px;
    line-height: 40px;
    margin: 0 auto;
    color:#fff;
    border:1px solid #fff;
    border-radius: 50%;
    display: inline-block;
    font-size:2rem;
    bottom: -150px;
    position: relative;
}
.main_product .port_img:hover .port_overlay a{
    bottom:0;
}
.main_product .port_img:hover .port_overlay{
    opacity: 1;
}

.main_test{
    width: 100%;
    display: block;
}
.test_item{
    padding: 40px;
    transition: all 0.6s;
    border:1px solid transparent;
}
@media only screen and  (min-width: 1170px){
    .test_item:hover{
        border:1px solid #ddd;
        background-color: #fff;
    }
}
.test_item:hover .item_img i{
    color:#fff;
    background-color: #00a885;
}

.main_test .item_img{
    float: left;
    display: inline-block;
    width:20%;
    margin-right: 10%;
}
.main_test .item_text{
    display: inline-block;
    width:70%;
}
.item_img{
    position: relative;
}
.item_img i{
    background-color: #fff;
    position: absolute;
    right: -25%;
    top: 50%;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: #ddd;
    border-radius: 50%;
    box-shadow: 1px 0px 0px 0px #ddd;
}

.icon-chevron-left:before {
    content: "\e875";
}
.icon-chevron-right:before {
    content: "\e876";
}
